
.delete{
    display: inline;
}
    
.title{
    text-decoration: none;
}
h1.h-index{
    margin-top: 4px;
    
}
/* span{
    background-color:black; 
    color:black; 
    border-radius: 10%; 
    padding:0px 20px 0px 20px 
} */

li{
    text-decoration: none;
}